absl-py                
astunparse             
backcall               
cachetools             
certifi               
chardet                
cycler                 
decorator              
docutils               
flatbuffers            
gast                   
google-auth            
google-auth-oauthlib   
google-pasta           
grpcio                 
h5py                   
idna                   
ipdb                   
ipython                
ipython-genutils       
jedi                   
Keras-Preprocessing    
kiwisolver             
lxml                   
Markdown               
matplotlib             
numpy                  
oauthlib               
opt-einsum             
pandas                 
parso                  
pexpect                
pickleshare            
Pillow                 
pip                    
prompt-toolkit         
protobuf               
ptyprocess             
py                     
pyasn1                 
pyasn1-modules         
Pygments               
pyparsing              
pyshark                
python-dateutil        
pytz                   
requests               
requests-oauthlib      
rsa                    
setuptools             
six                    
statistics             
tabulate               
tensorboard            
tensorboard-plugin-wit 
tensorflow             
tensorflow-estimator   
termcolor              
traitlets              
typing-extensions      
urllib3                
wcwidth                
Werkzeug               
wheel                  
wrapt                  
scipy
