absl-py                
astunparse             
cachetools             
certifi               
chardet                
flatbuffers            
gast                   
google-auth            
google-auth-oauthlib   
google-pasta           
grpcio                 
h5py                   
idna                   
Keras-Preprocessing    
Markdown               
numpy                  
oauthlib               
opt-einsum             
pip                    
protobuf               
pudb                   
pyasn1                 
pyasn1-modules         
Pygments               
requests               
requests-oauthlib      
rsa                    
setuptools             
six                    
tensorboard            
tensorboard-plugin-wit 
tensorflow             
tensorflow-estimator   
termcolor              
tflite                 
urllib3                
urwid                  
Werkzeug               
wheel                  
wrapt                  
