absl-py                      
appdirs                      
astunparse                   
attrs                        
backcall                     
CacheControl                 
cachetools                   
certifi                      
cffi                         
chardet                      
colorama                     
contextlib2                  
cryptography                 
decorator                    
distlib                      
distro                       
filelock                     
gast                         
google-auth                  
google-auth-oauthlib         
google-pasta                 
greenlet                     
grpcio                       
h5py                         
html5lib                     
idna                         
ipython                      
ipython-genutils             
jedi                         
jellyfish                    
Jinja2                       
Keras-Preprocessing          
lensfun                      
lib50                        
lightdm-gtk-greeter-settings 
Markdown                     
MarkupSafe                   
msgpack                      
netron                       
numpy                        
oauthlib                     
opt-einsum                   
ordered-set                  
packaging                    
parso                        
pep517                       
pexpect                      
pickleshare                  
pip                          
progress                     
prompt-toolkit               
protobuf                     
ptyprocess                   
pudb                         
pyasn1                       
pyasn1-modules               
pycparser                    
Pygments                     
PyGObject                    
pynvim                       
pyparsing                    
pyPEG2                       
PyQt5                        
PyQt5-sip                    
PyQtWebEngine                
PyYAML                       
qutebrowser                  
requests                     
requests-oauthlib            
resolvelib                   
retrying                     
rsa                          
setuptools                   
six                          
submit50                     
team                         
tensorboard                  
tensorboard-plugin-wit       
tensorflow                   
tensorflow-estimator         
termcolor                    
toml                         
traitlets                    
urllib3                      
urwid                        
virtualenv                   
virtualenv-clone             
wcwidth                      
webencodings                 
Werkzeug                     
wheel                        
wrapt                        
